<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Available Spaces</title>
</head>
<body>
    <h1>Available Spaces</h1>
    <div>
        <p><input type="button" id="add_new_space" onclick="location.href='/new-space';" value="Add a new space" /></p>
        {% for space in spaces %}
            <div>
                <table border="2px solid" width="100%" >
                    <tr>
                        <td width="12%">Name</td>
                        <td> {{space.name}}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{space.description}}</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>{{space.price}}</td>
                    </tr>
                    <tr>
                        <td>Start Date</td>
                        <td>{{space.start_date}}</td>
                    </tr>
                    <tr>
                        <td>End Date</td>
                        <td>{{space.end_date}}</td>
                    </tr>
                    <tr></tr>
                </table>
                <input type="button" id="{{space.id}}" onclick="location.href='/space/{{space.id}}';" value="Book" />
                <br>
                <br>
            </div>
        {% endfor %}
    </div>
</body>
</html>