<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <h1>Welcome to MakersBnB!</h1>
        <div class="t-buttons">
            <a class="login_button-tag" href="/login">Login</a>
            <a class="signup_button-tag" href="/signup">Sign-up</a>
        </div>
    </body>
</html>
