<!DOCTYPE html>
<html lang=en>
    <head>
        <title>New Space</title>
    </head>
    <body>
        <h1>Enter new space details</h1>
        <form action="/new-space" method="POST">
            <div>
                <p>Description:</p>
                <input type="text" name="description" placeholder="Enter a description">
                <p>Date: (YYYY-MM-DD)</p>
                <input type="text" name="description" placeholder="Enter a description">
            </div>
        </form>
    </body>
</html>