<!DOCTYPE html>
<html lang=en>
    <head>
        <title>New Space</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <h1>Enter new space details</h1>
        <form action="/new-space" method="POST">
            <div>
                <p>Space Name:</p>
                <input type="text" name="space_name" placeholder="Enter a name for your space">
                <p>Description:</p>
                <input type="text" name="description" placeholder="Enter a description">
                <p>Start Date:</p>
                <input type="date" id="start_date" name="start_date" value="2023-09-01" min="2023-09-01" max="2033-12-31" />
                <p>End Date:</p>
                <input type="date" id="end_date" name="end_date" value="2023-09-01" min="2023-09-01" max="2033-12-31" />
                <p>Price per night:</p>
                <input type="text" name="price" placeholder="Enter the price per night">
                <p>
                <input type="submit" value="Add a new space">
                </p>
                
            </div>
        </form>
    </body>
</html>